<%= form_with(model: [ @ticket, @ticket.comments.build ], remote: true) do |form| %>
  <p>
    <strong>Commenter:</strong>
    <%= current_user.email %>
  </p>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :content, placeholder: 'Add a comment...', size: "50x5" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
