%h1 User profile

%p
  %strong Email:
  = @user.email
%p
  %strong Position in the company:
  = @user.position_in_the_company
%p
  %strong Type of user:
  = @user.type_of_user
= link_to 'Back', user_path(@user)
= link_to 'Edit', edit_user_registration_path
