.panel.panel-default
  %h3.panel-heading= t('tickets.index.filter_of_tickets')
  = form_for_filterrific @filterrific do |f|
    %div
      Search
      = f.text_field :search_query,
                         :class => 'filterrific-periodically-observed'
      %p
      = t('tickets.index.filter_type')
      \#{f.select( :with_type_of_ticket, @filterrific.select_options[:with_type_of_ticket], { include_blank: '- Any -', multiple: true } )}

      = t('tickets.index.filter_status')
      \#{f.select( :with_status_of_ticket, @filterrific.select_options[:with_status_of_ticket], { include_blank: '- Any -', multiple: true } )}

      = t('tickets.index.filter_responsible_unit')
      \#{f.select( :with_responsible_unit, @filterrific.select_options[:with_responsible_unit], { include_blank: '- Any -', multiple: true } )}

      Priority
      \#{f.select( :with_priority, @filterrific.select_options[:with_priority], { include_blank: '- Any -', multiple: true } )}

      Author
      \#{f.select( :with_user_id, @filterrific.select_options[:with_user_id], { include_blank: '- Any -', multiple: true } )}
      
      Sorted by
      \#{f.select( :sorted_by, @filterrific.select_options[:sorted_by] )}

    %div
      = link_to(                 |
          'Reset filters',       |
          reset_filterrific_url, |
        )
    = render_filterrific_spinner
  = render(                         |
      partial: 'tickets/list',      |
      locals: { tickets: @tickets } |
    )                               |
