%h1 Ticket params
%p
  %strong Title:
  = @ticket.title
%p
  %strong Status of ticket:
  = @ticket.status_of_ticket
%p
  %strong Type of ticket:
  = @ticket.type_of_ticket.humanize
%p
  %strong Detailed description:
  = @ticket.detailed_description
%p
  %strong Responsible unit:
  = @ticket.responsible_unit.humanize
%p
  %strong Author:
  = @ticket.user.email
%p
  %strong Deadline:
  = @ticket.deadline
%h2 Comments
.comments{:id => "comments_#{@ticket.id}"}
  - if @ticket.comments
    = render @ticket.comments, ticket: @ticket
%h2 Add a comment:
= render 'comments/form'
= link_to 'Back', tickets_path
