.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          .lead Ticket params
        .panel-body
          .form-group
            %p
            %strong Title:
            = @ticket.title
          .form-group
            %p
              %strong Status of ticket:
              = @ticket.status_of_ticket
          .form-group
            %p
              %strong Type of ticket:
              = @ticket.type_of_ticket.humanize
          .form-group
            %p
              %strong Detailed description:
              = @ticket.detailed_description
          .form-group
            %p
              %strong Responsible unit:
              = @ticket.responsible_unit.humanize
          .form-group
            %p
              %strong Author:
              = @ticket.user.email
          .form-group
            %p
              %strong Executor:
              = @ticket.executor
          .form-group
            %p
              %strong Deadline:
              = @ticket.deadline
          .form-group
            %h4 Comments
            .comments{:id => "comments_#{@ticket.id}"}
              - if @ticket.comments
                = render @ticket.comments, ticket: @ticket
          .form-group
            %h4 Add a comment:
            = render 'comments/form'
          .form-group
            - if current_user.email == @ticket.executor && @ticket.in_progress?
              = button_to 'Resolved', resolved_path(@ticket, status_of_ticket: 'resolved'), method: :put
            -elsif current_user.executor? && @ticket.newly_created?
              = button_to 'Take in work', take_in_work_path(@ticket, status_of_ticket: 'take_in_work'), method: :put
            -elsif current_user.id == @ticket.user_id && @ticket.in_progress?
              = button_to 'Close', closed_path(@ticket, status_of_ticket: 'closed'), method: :put
          .form-group
            = link_to 'Back', tickets_path
